<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
    <link
      href=' https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css '
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <nav class='navbar' style='border-bottom: 1px solid white'>
      <div class='navbar-brand'>
        <a href='/my-posts'>
          <h1 class='title is-large is-inverted' id='nav-title'>Your Life in
            Pictures</h1>
        </a>
      </div>
      <ul class='navar-menu navbar-end' style='padding-bottom: 3em'>

        <li class='navbar-item'>
          <a href='/all-posts'>
            Feed
          </a>
        </li>

        <li class='navbar-item button'><a href='#' id='logout'>Logout</a></li>

      </ul>

    </nav>
    <header class='hero'>

    </header>

    <main class='col-auto'>
      {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>