<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
    <link
      href=' https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css '
      rel='stylesheet'
    />
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  <body>
    <nav class='navbar' style="border-bottom: 1px solid white; padding: 1em">
      <div class='navbar-brand'>
        <a href='/all'>
          <h1 class='title is-large is-inverted' id="nav-title">Bulma Photo Blog</h1>
          <h2 class="subtitle is-medium">Your Life in Pictures</h2>
        </a>
      </div>
      <ul class='navar-menu navbar-end' style="padding-bottom: 3em">

        <li class='navbar-item'>
          <a href='/dashboard/my-posts'>
            Dashboard
          </a>
        </li>
        {{#if loggedIn}}
          <li class='navbar-item button'><a href='#' id='logout'>Logout</a></li>
        {{else}}
          <li class='navbar-item button'><a href='/login'>Login</a></li>
        {{/if}}

      </ul>

    </nav>
    <header class='hero'>

    </header>

    <main class='col-auto'>
      {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>