<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
   <link href=" https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css " rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href='/all'>Home</a></li>
        <li><a href='/dashboard'>Dashboard</a></li>
        {{#if loggedIn}}
          <li><a href='#' id='logout'>Logout</a></li>
        {{else}}
          <li><a href='/login'>Login</a></li>
        {{/if}}
      </ul>
    </nav>
    <header class='hero'>
     
    </header>

    <main class='col-auto'>
      {{{body}}}
    </main>

    

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>